.background1{
    display: flex;
    justify-content: center;
}

.Back{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.Check-Contain{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Led{
    position: absolute;
    width: 50vw;
    height: 30vw;
    min-width: 360px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 212, 245);
    overflow: hidden;
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Led::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 1800px;
    background: linear-gradient(rgb(255, 132, 0),rgb(255, 0, 0));
    animation: animate 2s linear infinite;
    z-index: 2;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(350deg);
    }
}

.Check-Body{
    width: 49vw;
    height: 29vw;
    background-color: rgb(0, 42, 255);
    min-width: 350px;
    min-height: 390px;
    border-radius: 6px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Input{
    width: 15vw;
    min-width: 200px;
    height: 44px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.Text{
    color: white;
    text-align: center;
}